extends layout
block content
	.w3-container
		.w3-card-3
			header.w3-container.w3-light-grey
				h1 ERRO Encontrado
			.w3.container
				p= e
			footer.w3-container.w3-teal
				address a75870 pri2018